<% provide(:title, @room_block.to_s + @room.name.to_s) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @room.block.to_s + "-" + @room.name.to_s %>
      </h1>
    </section>
  </aside>
</div>
<%= form_for(@room) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :block %>
    <%= f.text_field :block,  :disabled => !current_user.admin? %>
    
    <%= f.label :name %>
    <%= f.text_field :name,  :disabled => !current_user.admin? %>

    <%= f.label :gender %>
    <%= f.text_field :gender,  :disabled => !current_user.admin? %>
    
    <%= f.label :sd, "Single or Double"%>
    <%= f.text_field :sd,  :disabled => !current_user.admin?  %>
    
    <%= f.label :vacancy %>
    <%= f.text_field :vacancy,  :disabled => !current_user.admin? %>
    
    <% if !@room.resident || @room.resident == "" %>
    <%= f.label :resident %>
    
      <%= f.text_field :resident, :value => @current_user.name %>
    <% else %>
      <%= f.label :resident %>
      <%= f.text_field :resident, :value => nil, :disabled => !current_user.admin?  %>
    <% end %>
  </div>
  <% if !@room.resident || @room.resident == "" %>
    <%= f.submit "Choose this room", class: "btn btn-primary" %>
  <% else %>
      <% @room.resident = nil %>
      <% @room.save %>
    <%= f.submit "Revoke your choice", class: "btn btn-primary" %>
  <% end %>
<% end %>