<% provide(:title, 'All Rooms') %>
<h1>All rooms</h1>

<ul class="rooms">
  <% @rooms.each do |room| %>
    <li>
        <%= room.block.to_s << '-' << room.name.to_s %> <%= " "<< room.sd.to_s<< " " << room.gender%>
        <%=
          if room.resident.nil?
            " available"
          else
           "occupied by " + room.resident
          end
        %>
        <% if !room.resident.nil?%>
         <% else %>
            <li><%= button_to "Choose", edit_room_path(room), :method => :get %></li>
        <% end %>
        
      <% if current_user.admin? %>
     <%= link_to "delete", room, method: :delete,
                                  data: { confirm: "You sure?" } %>
      <% end %>
        
    </li>
  <% end %>
</ul>

